# Dipendenze e output
node_modules/               # cartella dei moduli npm
dist/                       # build ES/Babel

# Log
logs/
*.log                       # file di log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ambienti e cache
.env*                       # variabili d’ambiente sensitive
.npm/                       # cache npm
.cache/                     # cache generiche
.eslintcache                # cache ESLint (consigliato)

# Report e coverage
coverage/                   # directory di coverage
*.lcov

# IDE/editor
.vscode/
.idea/                      # project files di IntelliJ/WebStorm
*.swp                       # vi/vim swap files
*~

# Sistema operativo
.DS_Store                   # macOS
Thumbs.db                   # Windows
`report.[0-9]*.json`        # report diagnostici Node.js
